:root {
  --primary: rgb(224, 230, 233);
  --secondary: rgb(74, 74, 74);
  --tertiary: rgb(11, 123, 174);
  --quaternary: rgb(46, 46, 46);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(184, 240, 255));;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nav css */
.active{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: 0.5s linear;
}

.hidden {
  height: 4rem;
  width: 100%;
  z-index: 40;
  position: fixed;
  top: -80px;
  transition: 0.5s linear;
}

.dashboard {
  display: flex;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1cm #000000;
}

.nav-row {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 100;
}

.dynamic-nav {
  margin-left: auto;
  margin-top: 0;
  order: 2;
  display: flex;
  flex-direction: row;
}

nav {
  margin-top: 34px;
}

.span {
  color: azure
}

.nav-box {
  display: flex;
  flex-direction: row;
  min-width: 50%;
  padding-top: 25px;
  padding-left: 80px;
  padding-bottom: 25px;
  padding-right: 25px;
}

/* nav text */
.nav-items {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(255, 255, 255);
}

.nav-items:hover {
  color:rgb(189, 189, 189);
}

.title {
  flex-wrap: wrap;
  padding-left: 40px;
}

h2, .title {
  margin: 0 15px 0 0;
  padding: 0 15px 0 0;
  min-width: 200px;
  color: black;
  border-right: 2px solid black;
  text-align: center;
}

a:link {
  text-decoration: none;
}

.nav-link {
  list-style: none;
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
}

/* active nav text */
.navActive {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(63, 239, 255);
}

.main {
  text-decoration: none;
  margin-left: 15px;
}

/* burger menu styles */
.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  display: none;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: white;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

/* HomePage Styles */
.intro {
  text-align: center;
  padding-bottom: 10px;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
}

.intro li {
  list-style: none;
}

.home-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.log-container {
  width: 42%;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 1px solid rgba(128, 128, 128, 0.344);
  box-shadow: rgba(100, 100, 111, 0.72) 0px 7px 29px 0px;
}

.sign-log {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
}

.signup-intro {
  width: 100%;
}

.signup-outer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 60px;
}

a .aboutme {
  transition-duration: .2s;
}

/* homepage app styles */
.app-form-title {
  text-align: center;
  font-size: 30px;
}

.app {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
}

/* Login component styles */
.flex {
  display: flex;
  flex-direction: column;
}

.login-title {
  text-align: center;
  font-size: 60px;
}

.login-form {
  padding-bottom: 10px;
  margin-top: 60px;
}

.form-input {
  margin-bottom: 10px;
  padding: 15px 0 0;
  margin-top: 10px;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 3px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
}

.form-input:focus {
    top: 0;
    transition: 0.5s;
    color: rgb(11, 123, 174);   
    font-weight: 700;
    padding-left: 20px;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--tertiary), var(--secondary));
    border-image-slice: 1;
}

/* homepage buttons */
.sub-btn {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #4371cc 43.89%, #3f88d7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 26px;
}

.x-pad {
  margin-top: 20px;
}

.sub-btn:hover {
  box-shadow: rgba(63, 120, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

/* bouncing arrow */
.arrow {
  position: relative;
}

@keyframes bouncing {
  0% {bottom: 0;}
  50% {bottom: 20px;}
  100% {bottom: 0;}
}

.arrow {
  animation: bouncing 3s ease-in-out;
  animation-delay: 4s;
  animation-iteration-count: 5;
  bottom: 0;
  display: block;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  padding-top: 2%;
}

/* about styles */
.about {
  display: flex;
  flex-direction: row;
}

.about-us {
  padding-top: 10%;
  font-size: 30px;
  width: 50%;
  margin: auto;
  padding-right: 8%;
  text-align: center;
  font-weight: bold;
}

.profile-container {
  width: 40%;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: auto;
}

.profile-pic {
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
  width: 100%;
  margin-top: 40px;
}

/* about fade out */
.hide{
  transition: 2s linear;
  display: none;
}

.visible {
  transition: 2s linear;
}

/* footer styles */
.footer-container {
  background-color: var(--quaternary);
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  width: 45%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.footer-items {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-right: 10%;
}

/* footer text */
.link-div {
  margin-top: 12px;
  padding-left: 20px;
  text-decoration: none;
}

.link-div, .lkdn svg {
  font-size: 20px;
  color: white;
}

.link-div, .insta svg {
  padding-top: 2px;
  font-size: 25px;
  color: white;
}

.footer-text {
  color: white;
  padding-top: 3px;
  padding-right: 30px;
}

/* media queries */
@media (min-width: 768px) {
  .sub-btn {
    padding: 0 2.6rem;
  }
}

